@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap");

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  /* Colors */
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);

  /* Typography */
  --font-family-primary: "Josefin Sans", sans-serif;
  --font-family-secondary: "Alegreya Sans", sans-serif;
  --font-family-cursive: "Cedarville Cursive", cursive;
  --font-family-display: "George Round", sans-serif;
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
}

@layer base {
  body {
    @apply bg-background;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-primary);
}

/* === Animations === */
@keyframes updown {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.2;
  }
}

.animate-slow-up-down {
  animation: updown 8s ease-in-out infinite;
}

.animate-twinkle {
  animation: twinkle 3s infinite;
}

/* Pause animation on hover for grouped elements */
.group:hover .pause-on-hover {
  animation-play-state: paused;
}
