@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* TYPOGRAPHY */
  --font-family-primary: "Josefin Sans", sans-serif;
  --font-family-secondary: "Alegreya Sans", sans-serif;
  --font-family-cursive: "Cedarville Cursive", sans-serif;

  --font-family-display: "George Round", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-family-primary);
}

@keyframes updown {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.2;
  }
}

.animate-slow-up-down {
  animation: updown 8s ease-in-out infinite;
}

.animate-twinkle {
  animation: twinkle 3s infinite;
}

.group:hover .pause-on-hover {
  animation-play-state: paused;
}
